*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* color:white; */
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: black;
}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color:black;
  display: flex;
  gap:20px;
  padding: 15px;
  flex-wrap:wrap;
}
.card{ 
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap:3px;
  background-color: transparent;
  color: #b1b1b1;
}
/* .center{
  /* background-color: red; */
 */
.center h3{
  font-size: 18px;
  font-weight: 500px;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400px;
  color:#8b8b8b
}

.center h2{
  font-size: 20px;
}

.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color:black;
  font-weight: 500;
  padding: 3px 6px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.bottom button{
  background-color: black;
  color:white;
  padding:5px 10px;
  border:none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3{
  font-size:17px;
}

.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}