*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}

.light
{
  background-color: lightseagreen;  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.dark{
  background-color: darkseagreen;  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.nav2{
  display: flex;
  gap:30px
}